.nav-clr {
	background-color: #434748;
	border-color: #e7e7e7;
	border-radius: 0px;
	border:none;
	margin-bottom:0px;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 40px; 
}

/*#nav{
	font-size: 1vw;
}*/

@media (min-width: 1000px) {
	#nav{
		font-size: 1.0vw;
	}
}

@media (min-width: 500px) {
	#nav_book{
		padding-right:10px; 
		float:right;
	}
	.img-responsive {
		width: 100%;
	}
}

@media (max-width: 500px) {
	#nav_book{
		float:left;
		margin-left: 0;
		padding-left: 0px;
	}

	#rv-tile{
		padding-bottom: 40px;
	}
}

#book_img{
	padding-top: 0.8vw;
}

#nav_list{
	padding-top: 1vw;
} 

#nav_list a {
	color: #FFFFFF;
}

.animup{
	animation-duration: 1000ms; 
	animation-delay: 300ms; 
	animation-name: fadeInUp;
}

.animleft{
	animation-duration: 1000ms; 
	animation-delay: 300ms; 
	animation-name: fadeInLeft;
}

.animright{
	animation-duration: 1000ms; 
	animation-delay: 300ms; 
	animation-name: fadeInRight;
}

a {
	color:#0232E4;
}


h1, .h1{
	color:#FFFFFF;
	font-family: 'Ubuntu';
}

#timer_row{
	background-color: #8b0a1c;
	padding-bottom: 10px;
}

#timer{
	padding-top: 15px;
}

#timer_text{
	padding-top: 9px;
}

.row{
	margin: initial;
}

#info{
	background-color: #cccccc;
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;
}

.centerBlock {
	display: table;
	margin: 0 auto;
	/*text-align: center;*/
}

#desc{
	padding-top:50px; 
	padding-left:180px; 
	padding-right:180px; 
	background-color:#FFFFFF;
}

#comment{
	font-size: 20px; 
	font-style: italic; 
	font-weight: bold; 
	margin-bottom:0;
}

#commentor{
	font-size: 15px; 
	margin-top:8px; 
	padding-left: 150px;
	padding-bottom: 20px;
}

#packs{
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom:20px;
}

#packitmsleft{
	padding-right: 40px;
	padding-bottom: 40px;
}

#packitmsright{
	padding-left: 40px;
	padding-bottom: 40px;
}

#footertop{
	padding-left:180px; 
	padding-right:180px; 
	background-color: #4d4d4d; /*#818181*/
}

#footertoplinks{
	padding-left:260px; 
	padding-right:180px; 
	background-color: #4d4d4d; /*#818181*/
}

#footerbottom{
	background-color: #333333; /*#808080*/
	padding-top:40px; 
	padding-bottom:30px; 
}

.wow {
   visibility: hidden;
}

#about{
	padding-top:20px; 
	padding-bottom: 200px;
	padding-left:17vw; 
	padding-right:17vw; 
	background-color:#FFFFFF;
}

#faq{
	padding-top:20px; 
	padding-bottom: 200px;
	padding-left:50px; 
	padding-right:50px; 
	background-color:#FFFFFF;
}

#map{
	margin: 0;
	padding-top: 90px;
}

#question{
	font-size:17px; 
	font-weight:bold;
	margin-bottom: 0; 
	line-height:100%;
}

#answer{
	font-size:17px; 
	color:#6E6E6E; 
	line-height:110%;
}

#wof{
	width: 100%;
	font-size: large;
}

#wof tr:nth-child(even) {
    background-color: #cccccc;
}
#wof tr:nth-child(odd) {
    background-color: #f4f4f4;
}

#wof th {
    background-color: #f4f4f4;
}

#wof td, th
{
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 30px;
}

#rooms{
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

#tblleft{
	font-size: 25px;
	float: right;
	color: black;	
}

#tblright{
	font-size: 25px;
	float: left;
	color: black;
}

#tblright td ,#tblleft td
{
  padding-bottom: 7px;
  padding-top: 7px;
}

input[type="submit"]{
	background:#898989;
	color:#FFFFFF;
	border:none;
	padding:0.4em 1.5em;
	font-size:1.8em;
	float: right;
	outline:none;
	cursor:pointer;
	border-radius:0.8em;
	margin-top:1em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

input[type="submit"]:hover{
	background:#8b0a1c;
	color:#ffffff;
}

.text-boxes span{
	width:47%;
	float:left;
}
.text-boxes span:nth-child(1), .text-boxes span:nth-child(5){
	margin-right:6%;
}
.text-boxes span input[type="text"],.text-area-box textarea{
	width:100%;
	border:1px solid #A7A7A7;
	font-size:1.2em;
	color:#5C5C5C;
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline:none;
	padding:0.5em;
}
.text-boxes span input[type="text"]:hover,.text-area-box textarea:hover{
	border-color:#8b0a1c;
}
.text-boxes span label,.text-area-box span{
	display:block;
	font-size:1.3em;
	font-weight:400;
	color:#000000;
	padding:0.3em 0;
	margin:0;
}

#eventcol{
	padding-left: 4vw;
	padding-right: 4vw;
}

.vcenter {
    display: flex;
    align-items: center;
}

#register{
	padding-bottom: 70px; 
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 40px;
}

#rv-tile{
	padding-left: 1.2vw;
	padding-right: 1.2vw;
}

#rv-text{
	color:#797979; 
	font-size: 16px; 
	padding-left: 1.3vw; 
	padding-right: 1.3vw;
	margin-top: 5px;
	padding-bottom: 10px;
}